body
{
    padding: 20px;
}

a
{
    color: cornflowerblue;

    text-decoration: none;
}

fieldset
{
    border: none;

    padding-left: 0;
}

.hidden
{
    display: none;
}

.clear
{
    clear: both;
}

.main-wrapper,
.nav-list
{
    width: 960px;

    margin: 0 auto;
}

.note-wrapper
{
    width: 75%;

    float: left;
}

.category-select
{
    width: 25%;

    float: right;
}

.category a
{
    display: block;

    margin-bottom: 15px;
}

.category a.active
{
    text-decoration: underline;
}

.nav-list a
{
    margin-right: 20px;

    font-weight: bold;
    font-size: large;

    text-transform: uppercase;
}

.nav-list a.active
{
    text-decoration: underline;
}

.card-notes
{
    display: block;

    width: 200px;

    float: left;

    margin: 20px 20px 0 0;
    padding: 20px;

    text-decoration: none;

    color: #333;
    background-color: #eee;
}

.card-notes h2
{
    margin: 0;
}

.card-notes .detail-link
{
    display: block;

    margin-top: 15px;

    font-size: 14px;
}

.new-note-link
{
    display: block;

    margin-top: 20px;
}