<p ng-if="errors"> {{errors}} </p>

<div class="new-note">

    <div class="new-note-container">

        <form class="form">

            <fieldset>
                <label for="title">Title</label><br />
                <input name="title" ng-model="note.title" />
            </fieldset>

            <fieldset>
                <label for="content">Description</label><br />
                <textarea name="description" ng-model="note.description"></textarea>
            </fieldset>

            <button class="btn" ng-click="saveNote(note)">Save</button>

        </form>

    </div>

</div>
