<div class="note-wrapper">

    <h2>Listado de notas</h2>

    <form>
        <label for="search-bar">Buscar</label>
        <input type="text" id="search-bar" name="search-bar" ng-model="search.title">
    </form>

    <div class="card-notes" ng-repeat="note in notes | filter: {category: activeCategory} | filter: search">

        <card header="note.title"
              description="note.description"
              icon="note.icon"
              type="notes"
              id="note.id"></card>

    </div>

    <br class="clear" />

    <a class="new-note-link" href="#/notes-create">Nueva nota</a>

</div>

<category-select class="category-select" active-category="activeCategory" notes="notes"></category-select>